<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>WAPH</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="site.js"></script>
    <script src="https://waph-uc.github.io/clock.js"></script>
    <style>
    .custom-container {
            padding: 40px; /* Add padding to all sides */
        }
    </style>
</head>
<body>
	<div id="welcome" class="container-fluid text-center" style="background-color: lightpink;"></div>
	<div class="custom-container">

		<div class="row">
			<div class="col-md-9" style="background-color: #f0f0f0; border-radius: 15px;">				
				<img src="/images/photo.jpg" alt="My headshot" width="90"><h1 class="text-center">Vamsidhar Reddy Katasani</h1>
				<h5 class="text-center">Cincinnati,OH | katasavy@mail.uc.edu | 859.609.9682</h5>	
				<hr style="height:1px;background-color: black;border:0">				
				<div class="custom-container" style="background-color: lightblue; border-radius: 20px; padding:20px;">
					<h4>Technical Skills</h4>
					<ul>
				        <li><b>UI Skills : </b>JavaScript, JQuery, HTML, CSS</li>
				        <li><b>Back-end Skills : </b>C Sharp, Python</li>
				        <li><b>Database Management : </b>Microsoft SQL Server</li>
				        <li><b>Source Control : </b>GitHub, TFS</li>
				        <li><b>Dev Operations : </b>Azure Devops</li>
				        <li><b>Sprint Management : </b>Agile, Kanban</li>				        
				        <li><b>Operating Systems : </b>Windows, Linux</li>				        
				    </ul>	
				</div>
				<br>
				<div class="custom-container" style="background-color: lightseagreen; border-radius: 20px; padding:20px;">
					<h4>Professional Experience</h4>
					<ul><h5>ACCENTURE</h5>
				        <li>Full Stack developer for Agriscience web application with UI, Middleware, and Backend technology skills.</li>
				        <li>Developed web applications using ASP.Net MVC, ASP .Net Core, Core API and MS SQL.</li>
				        <li>Incorporated Agile, Kanban, Azure DevOps throughout for managing and tracking development work. </li>
				        <li>Streamlined and negotiated requirements with product owner for developmental work.</li>
				        <li>Collaborated with both offshore and onshore teams for multiple process discussions and knowledge transfer meetings.</li>
				        <li>Completed online Internship certification on Information Security.</li>
				    </ul>	
				</div>
				<br>
				<div class="custom-container" style="background-color: lightgreen; border-radius: 20px; padding:20px;">
					<h4>Education</h4>
					<h5>University of Cincinnati</h5>
					<h6>Masters in Information Technology</h6>
					<br>
					<h5>Rajiv Gandhi University of Knowledge Technologies</h5>
					<h6>Bachelor of Technology in Electronics and Communications Engineering</h6>
				</div>
				<br>
				<div class="custom-container" style="background-color: lightsteelblue; border-radius: 20px; padding:20px;">
					<h4>Extra-Curricular Activities</h4>
					<ul>
				        <li>Organized cultural and technical fests as Student development cell member as an undergraduate.</li>
				        <li>Showcased prototypes in both internal and external university campus technical fests.</li>
				        <li>Was part of National Cadet Corps which held multiple social responsibility volunteer camps. </li>
				    </ul>
				</div>
				
			</div>
			<div class="col-md-3" style="background-color: lightcyan; border-radius: 15px;">		
				<h2 class="text-center">Check out Implementations</h2>
				<hr style="height:1px;background-color: black;border:0">	
				<div class="text-center"ng-controller="myCtrl">
					<button class="btn btn-primary" ng-click="openWAPHCourse()">Click for course 
					details!</button>
					<br><br>
					<div class="form-group">
			            <input type="text" class="form-control" ng-model="angularInput" placeholder="Enter calculation" maxlength="7">
			            <p style="text-align:left"><i>Use operators +,-,*,/ only. eg: 2+3. character limit: 7</i></p>
		        	</div>
		        	<button class="btn btn-primary" style="text-align:left" ng-click="calculateInput()">Calculate</button>
		        	<div>
		            	<strong>Total:</strong> <h4>{{ angularText }}</h4>
		        	</div>

				</div>
				<br>
				<p id="email" class="text-center" style="background-color:yellow; border-radius:5px;max-width=10px" onclick="showHideEmail()">Show my email</p>
				<br>
				<div class="text-center" id="digital-clock"></div>
				<hr style="height:0.5px;background-color: black;border:0">

				<canvas class="text-center" id="analog-clock" width="150" height="150" style="background-color:#999;"></canvas>
				<hr style="height:0.5px;background-color: black;border:0;">
				<div class="weather">
		          	<b><p style="color: blueviolet; font-size: 20px;">Weather Forecast:</p></b>
		      		<div id="weatherInfo">	
			        <img id="weatherIcon" src="" style="background-color: white;border-radius: 10px;">
			        <div id="weatherDetails"></div>
      			</div>
      			<hr style="height:0.5px;background-color: black;border:0;">
				<div class="text-center" id="response"></div>
			</div>
		</div>
		<br>
		<a href="https://info.flagcounter.com/HGhI"><img src="https://s11.flagcounter.com/count2/HGhI/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
	</div>

    <script>
    	

    	//analog clock
	    var canvas=document.getElementById("analog-clock");
	    var ctx=canvas.getContext("2d");
	    var radius=canvas.height/2;
	    ctx.translate(radius,radius);
	    radius=radius*0.90;
	    setInterval(drawClock,1000);

	    function drawClock(){
	          drawFace(ctx,radius);
	          drawNumbers(ctx,radius);
	          drawTime(ctx,radius);
	        }


        // Initialize AngularJS App
        var app = angular.module('myApp', []);

        // Define AngularJS Controller
        app.controller('myCtrl', function($scope) {
            $scope.angularInput = '';
            $scope.angularText = '';

            // Function to display AngularJS text
            $scope.calculateInput = function() {
            	var input=$scope.angularInput;
            	var output='';
            	if(input!=null && input!=""){
	            	var parts = input.split(/[\+\-\*\/]/);
	            	var value1=parseInt(parts[0]);
	            	var value2=parseInt(parts[1]);
	            	if(parts.length>2){
	            		output ='Please provide proper input.';
	            	}
	            	else if(input.includes('+')){
	            		output=(value1+value2).toString();
	            	}
	            	else if(input.includes('-')){
	            		output=(value1-value2).toString();
	            	}
	            	else if(input.includes('*')){
	            		output=(value1*value2).toString();
	            	}
	            	else if(input.includes('/')){
	            		output=(value1/value2).toString();
	            	}
	            	else{
	            		output='Expression cannot be calculated'
	            	}
            	}
            	else
            		output="Invalid Input";

                $scope.angularText = output;
            };
            $scope.openWAPHCourse = function() {
                var url = 'https://katasavy15.github.io/project1/waph.html'; // Specify the URL here
                window.open(url, '_blank');
            };
        });

        // jQuery Functionality
        $(document).ready(function() {
        	if (!document.cookie.includes('visit')){
				document.getElementById('welcome').innerHTML="<h4>Welcome to my page!</h4>";
				document.cookie = "<h4>Welcome! Your last visit was on: "+ (new Date()).toString()+"</h4>";
			}
			else{
				document.getElementById('welcome').innerHTML=""+document.cookie;
			}
            
            var key = '9b0377031eb04833a45e0b6dffc5ec6d'; 

            $.get("https://api.weatherbit.io/v2.0/current", {
                key: key,
                city: 'Cincinnati'
            })
                .done(function (response) {
                    if (response && response.data && response.data.length > 0) {
                        var weatherData = response.data[0];
                        var temperature = weatherData.temp;
                        var iconCode = weatherData.weather.icon;
 
                        var iconUrl = "https://www.weatherbit.io/static/img/icons/" + iconCode + ".png"; 
  
                        $("#weatherIcon").attr("src", iconUrl);
                        $("#weatherDetails").html("<b><p style='color:red;'>Temperature: " + temperature + "°C</p></b>");
                    } else {
                        $("#weatherInfo").html("<p>Unable to fetch weather data.</p>");
                    }
                })
                .fail(function () {
                    $("#weatherInfo").html("<p>Error occurred while fetching weather data.</p>");
                });
            jokeAPIHit();         

        });        	
    </script>
</body>
</html>